.alert {
  padding: var(--space-4);
  border-radius: var(--radius-md);
  margin-top: var(--space-4);

  &--error {
    background-color: rgb(from var(--color-error) r g b / 0.1);
    color: var(--color-error);
  }

  &__help {
    ul {
      margin: var(--space-2) 0 0 var(--space-4);

      li {
        margin-bottom: var(--space-1);
      }
    }
  }
}
