h1,h2,h3,h4,h5,h6 {
  margin-bottom: var(--space-6);
  font-weight: var(--font-weight-medium);
}

h1  {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
}

p {
  margin-bottom: var(--space-4);
}
